# EVM Variables
MNEMONIC=
PRIVATE_KEY=

# EVM RPC URLs
RPC_URL_ETHEREUM=
RPC_URL_SEPOLIA=
RPC_URL_BSC=
RPC_URL_BSC_TESTNET=
RPC_URL_ARB_SEPOLIA=

# EVM Token Address (for OFTAdapter)
TOKEN_ADDRESS_ETHEREUM=

# Solana Variables
SOLANA_PRIVATE_KEY=
SOLANA_KEYPAIR_PATH=
RPC_URL_SOLANA=
RPC_URL_SOLANA_TESTNET=
